body{
    background-color: rgb(182, 182, 182);
    text-align: center;
    font-size: 30px;
}
article {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #45a1ff;
    color: #fff;
    position: relative;
    top: 235%;
}
